<%- include("partials/header"); -%>

    <div class="card mb-3" style="width: 100%">
        <div class="card-body ">
            <h1 class="card-title title2">
                <%=post_title%>
            </h1>

            <p>
                <b class="card-subtitle text-muted">
                    <%=post_currDate%>
                </b>
            </p>
            <p class="card-text idt">
                <%=post_content%>
            </p>
        </div>
    </div>


    <%- include("partials/footer"); -%>